<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ro.blockbloom.lunaplus" android:versionCode="200" android:versionName="2.0-luna-plus">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <application android:label="Block Bloom Luna+" android:icon="@drawable/icon" android:theme="@style/AppTheme" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true" android:enableOnBackInvokedCallback="true">
    <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden|keyboard" android:resizeableActivity="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
